{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2021823000621310"
     crossorigin="anonymous"></script>

	<!-- meta tag for SEO -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The DailyNewsForYou is your source for breaking news, analysis, and opinion on Nepali Politics, Business, Cluture, Movies, Sports, Food and Travel, Books, Education, Techonology, more at thedailynewsforyou.com. Stay up to date with news from around the world.">
	<meta name="keywords" content="dailynewsforyou, news, breaking news, analysis, opinion, world news, the dailynewsforyou, daily news from nepal, Nepali news, Politics, Political, Science, Sports, sport, Business, entertainment, reviews, online news, lastest news from nepal, Nepal headline news, online news, Nepal news">
	<meta name="author" content="Pradip Thapa">
	<!-- end the seo tag -->
    {% block headblock %}
    {% endblock %}
	
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'front/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
<!--===============================================================================================-->

</head>

<body class="animsition">
	
<!-- Header Section Start -->
	<header>
	<!-- Header desktop -->
		<div class="container-menu-desktop">
		<!-- Top Bar Start -->
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Price Comparing Tool:
							</span>
							
							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
								
								{% for trend in trending %}
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									{{ trend.txt }}
								</span>
								{% endfor %}

							</span>
						</div>
					</div>
						

					<div class="flex-wr-e-c">
						
						<div class="left-topbar">

							<a href="{% url 'home' %}" class="left-topbar-item">
								Data Visualizaton
							</a>

							<a href="#" class="left-topbar-item">
								About Us
							</a>

							<a href="#" class="left-topbar-item">
								Contact Us
							</a>
						</div>
					</div>	
				</div>
			</div>
		<!-- Top Bar End -->
		
			
		<!-- Start (Top Logo) -->
		<div class="wrap-logo no-banner container">
			

			
			
		<!-- Start -->
			<div class="wrap-main-nav">
				<div class="main-nav">
				<!-- Menu desktop (Menu nav bar) Start -->
					<nav class="menu-desktop">
						
						<ul class="main-menu justify-content-right">
							<li class="main-menu-active">
								<a href="/">Home</a>
							</li>							
							{% for gg in cat %}
							<li class="mega-menu-item">
								<a href="#">{{ gg.name }}</a>
							</li>
						{% endfor %}

						</ul>
					</nav>
				<!-- Menu desktop (Menu nav bar) End -->	
				</div>
			</div>	
		<!-- End -->	
		</div>
	</header>
<!-- Header Section End -->        
    

	
	{% block mainblock %}
	

    {% endblock %}



<!-- Footer Section Start -->
	{% include 'front/footer.html' %}
<!-- Footer Section End -->

	<!-- Back to top (Angle Up) Start -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>
	<!-- Back to top (Angle Up) End -->
	

<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js' %}"></script>

</body>
</html>
