<div class="col-sm-6 col-md-4">
    <!-- Item latest -->
    <div class="m-b-45">
        <a href="#" class="wrap-pic-w hov1 trans-03">
            {% if product.featured_image %} 
            <img style="display: inline-block; width: 320px; height: 300px;" src="{{ product.featured_image }} " alt="IMG">
            {%endif %}
        </a>

        <div class="p-t-16">
            <h5 class="p-b-5">
                <a href="#" class="f1-m-3 cl2 hov-cl10 trans-03">
                    {{ product.name }}
                </a>
            </h5>

            
            <p>Min Price: {{ product.price_min|safe }}</p> <!-- need to use safe when we use ckeditor -->
            <br>

            <span class="cl8">
                
            
                <span class="f1-s-3 m-rl-3">
                    -
                </span>

                <span class="f1-s-3">
                    {{ product.created_at }}
                </span>
                
            </span>
        </div>
    </div>
</div>