<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                Price Matching Tool
                            </h5>
                        </div>
                           
                    </div>

                    <div>
                    

                        <p class="f1-s-1 cl11 p-b-16">
                            Tell : {{ site.tell }}
                        </p>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-twitter"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                        <br>

                        <!-- Newaletter Start -->
                        <form>
                            <input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="txt" name="" placeholder="Email or Phone Number">
                            <button type="submit" class="size-a-20 bg1 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">Send</button>
                        </form>
                        <!-- Newaletter End -->

                    </div>
                </div>


                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Category
                        </h5>
                    </div>

                    <!-- For showing categories in footer start -->

                    <ul class="m-t--12">
                        
                        {% for p in cat %}
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    {{ p.name }}
                                </a>
                            </li>
                        
                        {% endfor %}
                        
                    </ul>
                    <!-- For showing categories in footer end -->

                </div>
                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Home
                        </h5>
                    </div>

                    <!-- For showing categories in footer start -->
                    <ul class="m-t--12">
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="/login" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Sign In
                            </a>
                        </li>
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="/login#register" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Sign Up
                            </a>
                        </li>
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                About Us
                            </a>
                        </li>
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Contact Us
                            </a>
                        </li>
                        
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Privacy Policy
                            </a>
                        </li>
                        
                        
                    </ul>
                    <!-- For showing categories in footer end -->

                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
            <span class="f1-s-1 cl0 txt-center">
                All Rights Reserved © 2023 by Liva Room
            </span>
        </div>
    </div>
</footer>