{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        <title>Login</title>

        <meta name="description" content="This is a Price Matching Tools  for Livaroom.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{% static 'back/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon72.png' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon180.png' %}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'back/css/bootstrap.min.css' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'back/css/plugins.css' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'back/css/main.css' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'back/css/themes.css' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'back/js/vendor/modernizr.min.js' %}"></script>
    </head>

    <body>
        <!-- Login Alternative Row -->
        <div class="container">
            <div class="row">
                
                <div class="col-md-5 col-md-offset-1">
                    <a href="/">
                        <h1 class="push-top-bottom">
                            <i class="gi gi-flash"></i> <strong> Price Matching Tools</strong><br>
                           
                        </h1>
                    </a>
                    <div id="login-alt-container">
                        <!-- Title -->
                        <h1 class="push-top-bottom">
                            <i class="gi gi-flash"></i> <strong>Login</strong><br>
                        </h1>
                        <!-- END Title -->

                        <!-- Key Features -->
                        <ul class="fa-ul text-muted">
                            <li><i class="fa fa-check fa-li text-success"></i> LogIn</li>
                            <li><i class="fa fa-check fa-li text-success"></i> Password must have 8 Characters</li>
                            <li><i class="fa fa-check fa-li text-success"></i> Must have Capital Letter</li>
                            <li><i class="fa fa-check fa-li text-success"></i> Must have Small Letter</li>
                            <li><i class="fa fa-check fa-li text-success"></i> Must have Special Character</li>
                            <li><i class="fa fa-check fa-li text-success"></i> Must have Digit</li>
                        </ul>
                        <!-- END Key Features -->

                        <!-- Footer -->
                        <footer class="text-muted push-top-bottom">
                            <small>2023 &copy; <a href="/" target="_blank">LivaRoom.</a></small>
                        </footer>
                        <!-- END Footer -->
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- Login Container -->
                    <div id="login-container">
                        <!-- Login Title -->
                        <div class="login-title text-center">
                            <h1><strong>Login</strong>  <strong></strong></h1>
                        </div>
                        <!-- END Login Title -->
                        <ul class="fa-ul text-muted">

                            {% if messages %}
                            {% for message in messages %}
                            <li><i class="fa fa-check fa-li text-{{message.tags}}"></i> {{message}}</li>                            
                            {% for error in errors %}
                                <li><i class="fa fa-times fa-li text-danger"></i> {{ error }}</li>
                            {% endfor %}

                            {% endfor %}
                            {% endif %}
                        </ul>
                        
                        <!-- Login Block -->
                        <div class="block push-bit">
                            <!-- Login Form -->
                            <form action="{% url 'login' %}" method="post" id="form-login" class="form-horizontal">

                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                            <input type="text" id="" name="email" class="form-control input-lg" placeholder="Email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                            <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-actions">
                                    
                                    <div class="col-xs-8 text-right">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login to Dashboard</button>
                                    </div>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    
                                </div>
                            </form>
                            <!-- END Login Form -->
                 
                        </div>
                        <!-- END Login Block -->
                    </div>

                    <!-- END Login Container -->
                </div>
            </div>
        </div>
        <!-- END Login Alternative Row -->

        <!-- Modal Terms -->
        <div id="modal-terms" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Terms &amp; Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Age Requirement:</h4>
                        <p>You must be at least 18 years of age to create an account on our website.</p>
                        <h4>Account Information:</h4>
                        <p>You are responsible for maintaining the confidentiality of your account information, including your email and password. You agree not to share your account information with anyone else or use another person's account. You are solely responsible for any activity that occurs under your account, including any content that you post.
                        </p>
                        <h4>Prohibited Activities:</h4>
                        <p>You agree not to use our website for any illegal or unauthorized purpose.</p>
                        <h4>Account Termination:</h4>
                        <p>We reserve the right to terminate or suspend your account at any time without notice for any reason, including but not limited to, violation of these terms and conditions.</p>
                        <h4>Updates to Terms and Conditions:</h4>
                        <p> We reserve the right to modify or update these terms and conditions at any time without prior notice.</p>
                        <h4>Third-Party Websites: </h4>
                        <p>Our website contains links to third-party websites that are not under our control. We are not responsible for the content or accuracy of any third-party websites.</p>
                        <h4>Privacy Policy:</h4>
                        <p>Any personal information that you provide to us during the registration process will be subject to our privacy policy.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal Terms -->

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'back/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'back/js/plugins.js' %}"></script>
        <script src="{% static 'back/js/app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/login.js' %}"></script>
        <script>$(function(){ Login.init(); });</script>
    </body>
</html>