<!-- Start (Top Logo) -->
<div class="wrap-logo no-banner container">
<!-- Logo desktop(Logo in Top Section) Start -->		
    <div class="logo">
        <a href="/"><img src="{{ site.header_img.url }}" alt="logo"></a> <!-- Logo in Top Section -->	
    </div>
<!-- Logo desktop(Logo in Top Section) End -->
</div>


<!-- Logo desktop(Logo in Top Section) Start -->		
<div class="logo">
    <a href="/"><img src="{{ site.header_img.url }}" alt="logo"></a> <!-- Logo in Top Section -->	
</div>
<!-- Logo desktop(Logo in Top Section) End -->
</div>

