{% extends 'front/base.html' %}


{% load static %}

{% block headblock %}
<title>{{ site.name }} | Privacy </title>
{% endblock %}

{% block mainblock %}
<!-- Breadcrumb -->
<!-- Breadcrumb -->
<div class="container">
	<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
		<div class="f2-s-1 p-r-30 m-tb-6">
			<a href="/" class="breadcrumb-item f1-s-3 cl9">
				Home 
			</a>

			<span class="breadcrumb-item f1-s-3 cl9">
				Privacy Policy
			</span>
		</div>

		<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
			<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
			<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
				<i class="zmdi zmdi-search"></i>
			</button>
		</div>
	</div>
</div>

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
	<h2 class="f1-l-1 cl2">
		Privacy Policy
	</h2>
</div>
<!-- Content -->
<section class="bg0 p-b-110">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-8 p-b-30">
				<div class="p-r-10 p-r-0-sr991">
							
					<!-- Privacy section text(Text change from admin panel) Start -->
					<p class="fs-16">
						At Daily News For You, we take your privacy seriously and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and protect your personal information when you visit our website or use our services.
						<br/><br>
						<h4>Information We Collect:</h4>

						When you visit our website or use our services, we may collect the following types of information:
						<br/><br>
						<h4>Personal information:</h4>
						This may include your name, email address, phone number, and other contact details that you provide when you register or subscribe to our services.
						<br/><br>
						<h4>Usage information: </h4>
						We may collect information about how you use our website and services, such as the pages you visit, the articles you read, and the links you click.
						<br/><br>
						<h4>Device information:</h4>
						We may collect information about the devices you use to access our website or services, including the type of device, operating system, and browser.
						<br/><br>
						<h4>Location information:</h4>
						We may collect information about your location when you use our mobile app or opt-in to location-based services.
						<br/><br>
						<h4>How We Use Your Information:</h4>
						
						We use your personal information to provide you with our services, to communicate with you about your account or subscription, and to send you marketing or promotional messages. We may also use your information to:

						Customize our content and advertising to better match your interests.

						Conduct research and analysis to improve our services.

						Prevent fraud and other illegal activities.

						Comply with legal and regulatory requirements.
						<br/><br>
						<h4>How We Protect Your Information:</h4>

						We take appropriate measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. We use industry-standard security measures such as encryption, firewalls, and secure servers to safeguard your information.

						However, no method of transmission over the internet or electronic storage is completely secure, so we cannot guarantee the absolute security of your information.
						<br/><br>
						<h4>Sharing Your Information:</h4>

						We do not sell or rent your personal information to third parties. However, we may share your information with trusted third-party service providers who assist us in providing our services. These providers are contractually obligated to keep your information confidential and to use it only for the purposes of providing services to us.

						We may also share your information with government or law enforcement authorities when required by law or to protect our legal rights.
						<br/><br>
						<h4>Your Choices:</h4>

						You have the right to opt-out of receiving marketing or promotional messages from us. You can do this by following the unsubscribe instructions included in our emails or by contacting us directly.

						You also have the right to access, update, or delete your personal information that we have collected. You can do this by logging into your account or contacting us directly.
						<br/><br>
						<h4>Changes to this Privacy Policy:</h4>

						We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any significant changes by posting a notice on our website or by sending you an email.
						<br/><br>
						<h4>Contact Us</h4>

						If you have any questions or concerns about this Privacy Policy, please contact us at dailynews4u69@gmail.com.
						<br/><br>
					</p>	
					<!-- Privacy section text(Text change from admin panel) End -->
					
				</div>
			</div>
			
		<!-- Sidebar for Popular news in about page Start -->
			<div class="col-md-5 col-lg-4 p-b-30">
				<div class="p-l-10 p-rl-0-sr991 p-t-5">
				<!-- Popular Posts in about page Start -->
					<div>
						<div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Popular Post
							</h3>
						</div>

						<ul class="p-t-35">

					<!-- Dynamic Popular Post on the Sidebar(Right side) in about page Start -->	
							{% for pop in popnews %}
							<li class="flex-wr-sb-s p-b-30">
								<a href="{% url 'news_detail' pk=pop.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
									{% if pop.image %}
									<img src="{{ pop.image.url }}" alt="IMG">
									{% endif %}
								</a>

								<div class="size-w-11">
									<h6 class="p-b-4">
										<a href="{% url 'news_detail' pk=pop.id %}" class="f1-s-5 cl3 hov-cl10 trans-03">
											{{ pop.name }}
										</a>
									</h6>

									<span class="cl8 txt-center p-b-24">
										<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
											{{ pop.get_category_name }}
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{ pop.created_at }}
										</span>
									</span>
								</div>
							</li>
							{% endfor %}
					<!-- Dynamic Popular Post on the Sidebar(Right side) in about page End -->

						</ul>
					</div>
				<!-- Popular Posts in about page End -->
				</div>
			</div>
		<!-- Sidebar for Popular news in about page End -->		
		</div>


	</div>

</section>

{% endblock %}