<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">
	<div class="container">		
		<!-- Search Form Start -->
		<form action="#" method="post" class="">
			<div class="form-group">
				<input type="text" id="" name="top-search" class="" placeholder="Search Product Name...">
			</div>
		</form>
		<!-- Search Form End -->
		<div class="row p-t-35">
			
			{% for variant in variants %}
			<div class="col-sm-6 col-md-4">
				<div class="card mb-3">
				  <a href="#" class="wrap-pic-w hov1 trans-03">
					{% if variant.product.featured_image %} 
					<img class="card-img-top" style="display: inline-block; width: 320px; height: 300px;" src="{{ variant.product.featured_image }}" alt="Product Image">
					{%endif %}
				  </a>
				  <div class="card-body pt-4 pb-2">
					<h5 class="card-title">
					  <a href="#" class="f1-m-3 cl2 hov-cl10 trans-03">
						{{ variant.title }}
					  </a>
					</h5>
					<p class="card-text">Price: ${{ variant.price_englishelm|safe }}
						&nbsp;
						Optimize Price: ${{ variant.calculate_optimal_price }}
					</p>
				  </div>
				</div>
			  </div>
			  
			  
			{% endfor %}
			
		</div>
		<!-- Pagination Start -->
        Page {{ variants.number }} of {{ variants.paginator.num_pages }}
        <br><br>
        {% if variants.has_previous %}
            <a href="?page={{variants.previous_page_number}}" data-toggle="tooltip" title="Previous" class="btn btn-xs btn-default">Previous</a>
        {% endif %}

        {% if variants.number > 1 %}
            <a href="?page=1" data-toggle="tooltip" title="First" class="btn btn-xs btn-default">1</a>
        {% endif %}

        {% if variants.number > 4 %}
            <span class="ellipsis">...</span>
        {% endif %}

        {% for i in variants.paginator.page_range %}
            {% if i > variants.number|add:'-3' and i < variants.number|add:'3' %}
                {% if variants.number == i %}
                    <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-xs btn-default">{{i}}</a>
                {% else %}
                    <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-xs btn-default">{{i}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if variants.number < variants.paginator.num_pages|add:'-3' %}
            <span class="ellipsis">...</span>
        {% endif %}

        {% if variants.number < variants.paginator.num_pages %}
            <a href="?page={{variants.paginator.num_pages}}" data-toggle="tooltip" title="Last" class="btn btn-xs btn-default">{{variants.paginator.num_pages}}</a>
        {% endif %}

        {% if variants.has_next %}
            <a href="?page={{variants.next_page_number}}" data-toggle="tooltip" title="Next" class="btn btn-xs btn-default">Next</a>
        {% endif %}
   		<!-- Pagination End -->
	</div>
</section>

