<div class="sub-mega-menu">
    <!-- Sub Menu Bar (When i click or put cursor on Category Besides Home) Start -->
    <div class="nav flex-column nav-pills" role="tablist">
        {% for subcategory in gg.sub_category.all %}
            <a class="nav-link" data-toggle="pill" href="#news-{{ subcategory.pk }}" role="tab">{{ subcategory.name }}</a>
        {% endfor %}
    </div>

    <!-- Sub Menu Bar (When i click or put cursor on Category Besides Home) End -->
    <!-- Category and sub-category news shows in menu bar (When i click or put cursor on Category Besides Home) Start -->
    <div class="tab-content">
        {% for category in gg.sub_category.all %}
            <div class="tab-pane show {% if loop.first %}active{% endif %}" id="news-{{ category.pk }}" role="tabpanel">
                <div class="row">
                    <div class="col-3">
                            <!-- Item post -->
                            <div>
                                <a href="#" class="wrap-pic-w hov1 trans-03">
                                    
                                </a>
                            
                                <div class="p-t-10">
                                    <h5 class="p-b-5">
                                        <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ category.name }}
                                        </a>
                                    </h5>
                            
                                    <span class="cl8">
                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                            {{ category.get_category_name }}
                                        </a>
                            
                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>
                            
                                        <span class="f1-s-3">
                                            {{ category.created_at }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            
                        </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Category and sub-category news shows in menu bar (When i click or put cursor on Category Besides Home) End -->
</div>