
{% extends 'back/base.html' %}
{% load static %}
{% load product_tags %}
{% block mainblock %}
<!-- Mini Top Stats Row (Index page of admin panel) Start -->
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>{% get_matching_product_count %}</strong><br>
                    <small> Matching Products</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="gi gi-usd"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                     <strong>{% get_total_product_count %}</strong><br>
                    <small>Livaroom Products</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>8</strong>
                    <small>Total Category</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="gi gi-picture"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    +30 <strong>Photos</strong>
                    <small>Gallery</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

</div>
<!-- Mini Top Stats Row (Index page of admin panel) End -->

<!-- Datatables Content -->
<div class="block full">

    <div class="block-title">
        <h2><strong>Products</strong>  </h2>

        <div class="row">
            <!-- Search Form Start -->
            
            
            <form action="#" method="post">
                    <div class="col-md-3">
                        <ul id='message' class="fa-ul text-muted">                    
                           
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <!-- Right side content goes here -->
                        <!-- END Login Title -->
                        <select class="form-control" id="select_id" >
                            <option value="option1" selected>update selected product price</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="update_all" class="btn btn-sm btn-info" >
                            Update
                        </button>
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="id_sku" name="sku" class="form-control" placeholder="Search Product based on SKU.."
                            hx-get="{% url 'search-product' %}"
                            hx-trigger="keyup"
                            hx-target="#modules"
                            hx-headers="{ 'X-CSRFToken': '{{ csrf_token }}' }"
                            required
                        >
                    </div>
                    
            </form>
            <!-- Search Form End -->
        </div>
    </div>
    {% if not request.GET %}
        <!-- Show this block if no search query -->
        <div id="modules">
            {% include 'back/product_table.html' %}
        </div>
    {% else %}
        <!-- Show the search results in this block -->
        <div id="modules" hx-swap="outerHTML">
            {% if variants %}
                {% include 'back/product_table.html' %}
            {% else %}
                {% include 'back/product.html' %}
            {% endif %}
        </div>
    {% endif %}        
    
</div>
<!-- END Datatables Content -->

{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
        }
        }
        return cookieValue;
    }

    $(document).ready(function(){
        $('#update_all').click(function(){
        // collect the selected sample id's
        var skus = [];
        $(':checkbox:checked').each(function(i){
            if ($(this).val() !== 'on') {
            skus[i] = $(this).val()
            } 
        })
        
        // remove the undefined values from the array of IDs
        skus = skus.filter((sku) => sku !== '' && typeof sku !== 'undefined');


        var prices = []
        for (var i = 0; i < skus.length; i++){ // loop through all form
            var price = document.getElementById("optimize_price_"+skus[i]).value;  // get selected price of sku.
            prices[i] = price
        };

        if (skus.length === 0){
            alert('No samples selected.');
        } else {
            // collect the value of delete selected or send to qc passed
            var value = document.getElementById("select_id").value;

            // send AJAX call to update the product price
            if (value == 'option1') {
            $.ajax({
                method: 'POST',
                url: "{% url 'update_product_price' %}",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
                },
                data: {
                prices: prices,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                }, 
                success: function(response) {
                    var message = response.message;
                    var listItem = '<li><i class="fa fa-check fa-li text-success"></i>' + message + '</li>';
                    $('#message').append(listItem);
                    var alertBox = $('#message li:last-child');
                    setTimeout(function() {
                        alertBox.slideUp(function() {
                            $(this).remove();
                        });
                    }, 5000)
                },
                error: function(error) {
                    var errorResponse = JSON.parse(xhr.responseText);
                    var errorMessage = errorResponse.message;
                    var listItem = '<li><i class="fa fa-check fa-li text-warning"></i>' + errorMessagez + '</li>';
                    $('#message').append(listItem);
                    var alertBox = $('#message li:last-child');
                    setTimeout(function() {
                        alertBox.slideUp(function() {
                            $(this).remove();
                        });
                    }, 5000)
                }
            });
            }
        }
        });
    });
    
</script>
<script>
    function selectAllRows() {
        var checkboxes = document.getElementsByClassName("row-checkbox");
        var selectAllCheckbox = document.getElementById("select-all-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }
</script>


<script>
    $(document).ready(function() {
        $('#updateButton').click(function(e) {
            e.preventDefault(); // Prevent the default form submission
            
            var optimizePrice = $('#id_optimize_price').val(); // Get the value of optimize_price
            
            // Get the CSRF token value from the cookie
            var csrftoken = Cookies.get('csrftoken');
            
            // Add the CSRF token and the optimize_price value to the data parameter
            var data = {
                'csrfmiddlewaretoken': csrftoken,
                'optimize_price': optimizePrice
            };
            
            $.ajax({
                url: '{% url "update_view" %}',
                type: 'POST',
                data: data,
                success: function(response) {
                    var message = response.message;
                    var listItem = '<li><i class="fa fa-check fa-li text-success"></i>' + message + '</li>';
                    $('#message').append(listItem);
                    var alertBox = $('#message li:last-child');
                    setTimeout(function() {
                        alertBox.slideUp(function() {
                            $(this).remove();
                        });
                    }, 5000)
                },
                error: function(xhr, errmsg, err) {
                    var errorResponse = JSON.parse(xhr.responseText);
                    var errorMessage = errorResponse.message;
                    var listItem = '<li><i class="fa fa-check fa-li text-warning"></i>' + errorMessage + '</li>';
                    $('#message').append(listItem);
                    var alertBox = $('#message li:last-child');
                    setTimeout(function() {
                        alertBox.slideUp(function() {
                            $(this).remove();
                        });
                    }, 5000)
                }
            });
        });
    });
</script>

{% endblock %}