<div class="table-responsive">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered"> <!-- id="example-datatable" -->
        <thead>
            <tr> 
                <th>&nbsp;
                    <input type="checkbox" value="" id="select-all-checkbox" onclick="selectAllRows()">
                </th>
                <th class="text-center" >category_name</th>
                <th class="text-center">vendor</th>
                <th class="text-center">title</th>
                <th class="text-center">sku</th>
                <th class="text-center" >barcode</th>
                <th class="text-center">price_livaroom</th>
                <th class="text-center">price_englishelm</th>
                <th class="text-center" >optimize_price</th>
                <th class="text-center" >update</th>
                <th class="text-center" >url</th>
            </tr>
        </thead>
        <tbody>
            {% for cc in variants %}
            <tr>
                <td class="text-center"> {{forloop.counter}} <input type="checkbox"  class="row-checkbox"
                    id="checkbox-fill-{{sample.sku}}"
                    value="{{cc.sku}}"
               />
                </td>
                <td class="text-center" >{{cc.category_name}}</td>
                <td class="text-center" >{{cc.vendor}}</td>
                <td class="text-center">{{cc.title}}</td>
                <td class="text-center">{{ cc.sku }}</td>
                <td class="text-center" > {{ cc.barcode }}</td>
                <td class="text-center" > {{ cc.price_livaroom }}</td>
                <td class="text-center" > {{ cc.price_englishelm }}</td>
                
                <td class="text-center">
                    <div class="input-group input-group-sm">
                        <input id="optimize_price_{{cc.sku}}" name="optimize_price" type="text" class="form-control" value="{{ cc.optimize_price }}">
                    </div>
                </td>
                
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal_{{cc.id}}">
                        Update
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{cc.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="text-align:center">
                                <strong>Are you sure you want to update the price of the variant?</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            If you update the price, it will automatically update the price of the live room variant of the product.
                            This action cannot be undone. Are you sure you want to proceed?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="" onclick="updatePrice('{{cc.sku}}')" data-sku="{{cc.sku}}" data-dismiss="modal" class="btn btn-danger">Update</button>
                            </div>
                        </div>
                        </div>
                    </div>
  
                </td>
                
                <td class="text-center"><a target="_blank" href="{{ cc.product_url }}" class="btn btn-sm btn-primary">open</a></td>
            </tr>
            {% endfor %}
       
        </tbody>
    </table>
    <!-- Pagination Start -->
    Page {{ variants.number }} of {{ variants.paginator.num_pages }}
    <br><br>
    {% if variants.has_previous %}
        <a href="?page={{variants.previous_page_number}}" data-toggle="tooltip" title="Previous" class="btn btn-xs btn-default">Previous</a>
    {% endif %}

    {% if variants.number > 1 %}
        <a href="?page=1" data-toggle="tooltip" title="First" class="btn btn-xs btn-default">1</a>
    {% endif %}

    {% if variants.number > 4 %}
        <span class="ellipsis">...</span>
    {% endif %}

    {% for i in variants.paginator.page_range %}
        {% if i > variants.number|add:'-3' and i < variants.number|add:'3' %}
            {% if variants.number == i %}
                <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-xs btn-default">{{i}}</a>
            {% else %}
                <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-xs btn-default">{{i}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if variants.number < variants.paginator.num_pages|add:'-3' %}
        <span class="ellipsis">...</span>
    {% endif %}

    {% if variants.number < variants.paginator.num_pages %}
        <a href="?page={{variants.paginator.num_pages}}" data-toggle="tooltip" title="Last" class="btn btn-xs btn-default">{{variants.paginator.num_pages}}</a>
    {% endif %}

    {% if variants.has_next %}
        <a href="?page={{variants.next_page_number}}" data-toggle="tooltip" title="Next" class="btn btn-xs btn-default">Next</a>
    {% endif %}
<!-- Pagination End -->
</div>